/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Poppins:wght@400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/

$header-height: 3.5rem;

/*========== Colors ==========*/
/*Color mode HSL(hue, saturation, lightness)*/
$first-color: hsl(14, 98%, 50%);
$black-color: hsl(0, 0%, 0%);
$black-color-light: hsl(0, 0%, 40%);
$white-color: hsl(0, 0%, 95%);
$title-color: hsl(0, 0%, 0%);
$text-color: hsl(0, 0%, 35%);
$text-color-light: hsl(0, 0%, 64%);
$body-color: hsl(0, 0%, 87%);
$container-color: hsl(0, 0%, 83%);

/*========== Font and typography ==========*/
/*.5rem = 8px | 1rem = 16px ...*/
$body-font: "Bai Jamjuree", sans-serif;
$biggest-font-size: 2.5rem;
$h1-font-size: 1.75rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;

/*========== Font weight ==========*/
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

/*========== z index ==========*/
$z-tooltip: 10;
$z-fixed: 100;

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    $biggest-font-size: 4.5rem;
    $h1-font-size: 3rem;
    $h2-font-size: 1.5rem;
    $h3-font-size: 1.25rem;
    $normal-font-size: 1rem;
    $small-font-size: .875rem;
    $smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $text-color;
}

h1,
h2,
h3,
h4 {
  color: $title-color;
  font-weight: $font-bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/


/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 4rem 2rem;
}

.section_title-1,
.section_title-2 {
  position: relative;
  font-size: $h1-font-size;
  width: max-content;
  margin: .75rem auto 2rem;
}

.section_title-1 span,
.section_title-2 span {
  z-index: 5;
  position: relative;
}

.section_title-1::after,
.section_title-2::after {
  content: "";
  width: 40px;
  height: 28px;
  background-color: hsla(14, 98%, 50%, .2);
  position: absolute;
  top: -4px;
  right: -8px;
}

.section_title-2::after {
  top: initial;
  bottom: -4px;
}

.geometric-box {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: $first-color;
  rotate: -30deg;

  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 3px solid $black-color;
    left: -5px;
    top: -5px;
  }
}

/* --- BUTTON --- */
.button,
.button_ghost {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
}

.button {
  background-color: $black-color;
  padding: 1.1rem 1.5rem;
  color: $white-color;
  font-weight: $font-medium;
  transition: background-color .4s;

  i {
    font-size: 1.25rem;
  }

  &:hover {
    background-color: $first-color;
  }
}

.button_ghost {
  border: 3px solid $black-color;
  color: $black-color;
  padding: .5rem;
  transition: border .4s, color .4s;

  i {
    font-size: 1.25rem;
  }

  &:hover {
    border: 3px solid $first-color;
  }
}

.main {
  overflow: hidden;
  /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  ;
  top: 0;
  left: 0;
  background-color: $body-color;
  z-index: $z-fixed;
  transition: box-shadow .4s;

  .nav {
    position: relative;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav_logo {
      display: flex;
      column-gap: .5rem;
      align-items: center;
      font-weight: $font-semi-bold;
      color: $title-color;

      .nav_logo-circle {
        border-radius: 50%;
      }
    }
  }
}

.nav_logo-circle,
.nav_toggle {
  width: 32px;
  height: 32px;
  background-color: $black-color;
  color: $white-color;
  display: grid;
  place-items: center;
}

.nav_toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav_menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(0, 0%, 0%, .75);
    width: 100%;
    padding-block: 1.8rem 5rem;
    text-align: center;
    backdrop-filter: blur(8px);
    transition: top .4s;

    .nav_title {
      color: $white-color;
      display: block;
      font-size: $smaller-font-size;
      font-weight: $font-semi-bold;
      margin-bottom: 3.5rem;
    }

    .nav_name {
      color: $white-color;
      position: relative;
      width: max-content;
      margin: 0 auto 3rem;
      font-size: $h2-font-size;

      &::after,
      &::before {
        content: '';
        width: 40px;
        height: 1px;
        background-color: $text-color-light;
        position: absolute;
        top: 50%;
        left: -4rem;
      }

      &::before {
        left: initial;
        right: -4rem;
      }
    }

    .nav_close {
      color: $white-color;
      position: absolute;
      font-size: 1.5rem;
      top: 1rem;
      right: 1.5rem;
      cursor: pointer;
    }

    .nav_list {
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;

      .nav_link {
        position: relative;
        color: $text-color-light;
        font-size: $h3-font-size;
        font-weight: $font-semi-bold;
        transition: color .3s;

        &::after {
          content: '';
          width: 0;
          height: 2px;
          background-color: $white-color;
          position: absolute;
          left: 0;
          bottom: -.5rem;
          transition: width .3s;
        }

        &:hover {
          color: $white-color;
        }

        &:hover::after {
          width: 25%;
        }
      }
    }
  }
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Add shadow header */
.shadow-header {
  box-shadow: 0 1px 16px hsla(0, 0%, 0%, .12);
}

/* Active link */


/* --- HOME --- */
.home_container {
  padding-top: 2rem;

  .home_name {
    font-size: $biggest-font-size;
    text-align: center;
  }

  .home_profil {
    position: relative;
    justify-self: center;

    .home_image {
      width: 220px;

      .home_img {
        position: relative;
        z-index: 10;
      }

      .home_shadow {
        width: 100%;
        height: 100%;
        background-color: $container-color;
        position: absolute;
        bottom: -.75rem;
        right: -.75rem;
        border: 4px solid $black-color;
        z-index: 5;
        transition: background-color .4s;
      }

      .home_arrow,
      .home_line {
        position: absolute;
        filter: invert(1);
        width: 50px;
        transition: filter .4s;
      }

      .home_arrow {
        left: 40%;
        bottom: -4rem;
      }

      .home_line {
        right: -2rem;
        bottom: -.5rem;
      }

      .geometric-box {
        top: 2.5rem;
        left: -.7rem;
        z-index: 10;
      }
    }

    .home_social {
      height: max-content;
      position: absolute;
      left: -3rem;
      top: 0;
      bottom: 0;
      margin: auto 0;
      display: grid;
      row-gap: 1rem;

      .home_social-link {
        background-color: $black-color-light;
        color: $white-color;
        font-size: 1.25rem;
        padding: 6px;
        display: grid;
        place-items: center;
        transition: background-color .3s;

        &:hover {
          background-color: $black-color;
        }
      }
    }
  }

  .home_info {
    margin-top: 4rem;

    .home_description {
      text-align: center;
      color: $title-color;
      margin-bottom: 1.5rem;

      b {
        background: linear-gradient(90deg,
            hsla(14, 98%, 50%, .3),
            hsla(14, 98%, 50%, 0));
      }
    }

    .home_scroll {
      display: block;
      width: max-content;
      margin: 0 auto;

      .home_scroll-box {
        background-color: $black-color;
        color: $white-color;
        width: 36px;
        height: 36px;
        display: grid;
        place-items: center;
        font-size: 1rem;
        cursor: pointer;
        overflow: hidden;
        transition: background-color .4s;

        i {
          animation: scroll-down 3s infinite;
        }
      }

      .home_scroll-text {
        display: none;
      }
    }
  }
}


/* Animate scroll icon */
@keyframes scroll-down {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(.6rem);
    opacity: 0;
  }
}

/* --- ABOUT --- */
.about {
  background-color: var(--container-color);
  transition: background-color .4s;

  .about_container {
    row-gap: 0;

    .about_info {
      padding-left: 1.25rem;

      /* --- BUTTON --- */
      .about_buttons {

        .button,
        .button_ghost {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: .5rem;
        }

        .button {
          background-color: $black-color;
          padding: 1.1rem 1.5rem;
          color: $white-color;
          font-weight: $font-medium;
          transition: background-color .4s;

          i {
            font-size: 1.25rem;
          }

          &:hover {
            background-color: $first-color;
          }
        }

        .button_ghost {
          border: 3px solid $black-color;
          color: $black-color;
          padding: .5rem;
          transition: border .4s, color .4s;

          i {
            font-size: 1.25rem;
          }

          &:hover {
            border: 3px solid $first-color;
          }
        }
      }

      .about_description {
        position: relative;
        color: $title-color;
        margin-bottom: 1.5rem;

        &::after {
          content: '';
          width: 20px;
          height: 1px;
          background-color: $title-color;
          position: absolute;
          left: -1.75rem;
          top: .5rem;
        }
      }

      .about_list {
        list-style: square;
        color: $title-color;
        margin-bottom: 3rem;
      }

      .about_buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;
      }
    }
  }

  .about_profil {
    position: relative;
    justify-self: center;
    margin-block: 2.5rem 4.5rem;

    .geometric-box {
      top: 1.5rem;
      right: -2.8rem;
    }

    .about_image {
      width: 220px;

      .about_img {
        position: relative;
        border: 4px solid $white-color;
        z-index: 1;
      }

      .about_shadow,
      .about_line,
      .about_box {
        position: absolute;
      }

      .about_shadow {
        width: 150px;
        height: 385px;
        background-color: $body-color;
        top: -2.5rem;
        right: -3.5rem;
        border-bottom: 4px solid $first-color;
        transition: background-color .4s;
      }

      .about_line {
        filter: invert(1);
        right: -1.25rem;
        top: 6rem;
        width: 50px;
        transition: filter .4s;
      }

      .about_box {
        width: 40px;
        width: 40px;
        background-color: $first-color;
        right: -.5rem;
        bottom: 1.5rem;
      }
    }
  }
}


/* --- SERVICES --- */
.services_container {
  grid-template-columns: 250px;
  justify-content: center;
  row-gap: 2rem;
  padding-top: 1rem;

  .services_card {
    position: relative;

    &:hover .services_border {
      transform: translate(.75rem, .75rem);
    }

    .services_content {
      height: 100%;
      background-color: $body-color;
      border: 4px solid $black-color;
      padding: 6rem 1rem 3rem;
      z-index: 5;
      position: relative;
      transition: background-color .4s, border .4s;

      .services_icon {
        position: relative;
        display: inline-block;

        i {
          font-size: 2rem;
          color: $black-color;
          position: relative;
          z-index: 5;
        }

        .services_box {
          position: absolute;
          width: 24px;
          height: 24px;
          background-color: $first-color;
          right: -2px;
          top: -2px;
        }
      }

      .services_title {
        font-size: $h2-font-size;
        margin-bottom: 1.25rem;
      }
    }

    .services_border {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 4px solid $first-color;
      top: 0;
      left: 0;
      transition: transform .4s;
    }
  }
}

/* --- PROJECTS --- */
.projects {
  background-color: $container-color;
  transition: background-color .4s;

  .projects_container {
    row-gap: 2rem;

    .projects_card {
      padding: 1rem 1rem 2rem;
      transition: background-color .4s;

      &:hover {
        background-color: $white-color;
      }

      .projects_image {
        position: relative;
        margin-bottom: .75rem;

        .projects_button {
          position: absolute;
          right: 1rem;
          bottom: -1.5rem;
          padding: 1rem;
        }
      }

      .projects_content {
        margin-bottom: 1.25rem;

        .projects_subtitle {
          position: relative;
          display: inline-block;
          font-size: $small-font-size;
          font-weight: $font-medium;
          color: $text-color;
          margin-bottom: .75rem;
          padding-left: 1.75rem;

          &::after {
            content: '';
            width: 20px;
            height: 1px;
            background-color: $text-color;
            position: absolute;
            top: 50%;
            left: 0;
          }
        }

        .projects_title {
          font-size: $h3-font-size;
          margin-bottom: .75rem;
        }
      }

      .projects_buttons {
        display: flex;
        align-items: center;
        column-gap: 1rem;

        .projects_link {
          display: flex;
          align-items: center;
          column-gap: .25rem;
          color: $text-color;
          font-size: $small-font-size;
          font-weight: $font-medium;
          transition: color .4s;

          i {
            font-size: 1rem;
            color: $title-color;
            transition: color .4s;
          }

          &:hover,
          &:hover i {
            color: $first-color;
          }
        }
      }
    }
  }
}

/* --- CONTACT --- */
.contact {
  padding-bottom: 0;

  .contact_container {
    position: relative;
    grid-template-rows: 300px max-content max-content;
    row-gap: 0;

    .contact_data {
      position: relative;
      width: 300px;
      height: 300px;
      background-color: $container-color;
      padding: 3rem 1.5rem 3.5rem;
      margin-left: auto;
      border-bottom: 4px solid $first-color;
      z-index: 5;
      transition: background-color .4s;

      .section_title-2 {
        margin: 0 0 1.5rem;
        transform: translateX(-3rem);
      }

      .contact_description-1 {
        color: $title-color;
        font-weight: $font-medium;
        margin-bottom: 2rem;
      }

      .contact_description-2 {
        color: $title-color;
        font-size: $small-font-size;
      }

      .geometric_box {
        top: 2rem;
        right: 2.5rem;
      }
    }

    .contact_mail {
      position: relative;
      background-color: $black-color;
      padding: 5rem 1.5rem 2.5rem;
      margin-top: -2.5rem;
      transition: background-color .4s;

      .contact_title {
        color: $white-color;
        font-size: $h2-font-size;
        margin-bottom: 2rem;
        text-align: center;
      }

      .contact_form {
        position: relative;
        display: grid;
        row-gap: 1.25rem;

        .contact_group {
          display: grid;
          row-gap: 1.25rem;
        }

        .contact_box {
          position: relative;
          width: 100%;
          height: 58px;

          .contact_input {
            font-family: $body-font;
            font-size: $normal-font-size;
            outline: none;
            border: none;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $black-color;
            border: 3px solid $black-color-light;
            color: $white-color;
            padding: .5rem 1rem;
            font-weight: $font-medium;
            transition: border .4s, background-color .4s;

            &::placeholder {
              color: $text-color-light;
              transition: opacity .4s;
            }

            &:focus {
              border: 3px solid $white-color;
            }

            &:-webkit-autofill {
              transition: background-color 6000s, color 6000s;
            }
          }

          .contact_label {
            position: absolute;
            top: 8px;
            left: 10px;
            color: $text-color-light;
            font-size: $small-font-size;
            font-weight: $font-medium;
            background-color: $black-color;
            padding: 8px;
            pointer-events: none;
            transition: top .4s, opacity .4s, background-color .4s;
            opacity: 0;
          }
        }

        .contact_button {
          font-family: $body-font;
          font-size: $normal-font-size;
          outline: none;
          border: none;
        }

        .contact_area {
          height: 10rem;

          textarea {
            resize: none;
            padding-top: 1rem;
          }
        }

        .contact_button {
          background-color: $first-color;
          cursor: pointer;
        }

        .contact_message{
          color: $white-color;
          font-size: $small-font-size;
          position: absolute;
          bottom: -1.6rem;
          left: 0;
        }
      }
    }

    .contact_social{
      display: grid;
      row-gap: 1rem;
      background-color: hsl(0, 0%, 10%);
      padding-block: 1rem 2rem;
      text-align: center;

      .contact_social-arrow{
        width: 32px;
        margin: 0 auto;
      }

      .contact_social-data{
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;

        .contact_social-description-1{
          color: $text-color-light;
          font-size: $small-font-size;
          margin-bottom: .5rem;
        }

        .contact_social-description-2{
          color: $white-color;
          font-size: $small-font-size;
          font-weight: $font-semi-bold;
        }

        .contact_social-links{
          display: flex;
          justify-content: center;
          column-gap: .75rem;

          .contact_social-link{
            background-color: $black-color-light;
            padding: 6px;
            color: $white-color;
            font-size: 1.25rem;
            display: grid;
            place-items: center;
            transition: background-color .3s;

            &:hover{
              background-color: $first-color;
            }
          }
        }
      }
    }
  }
}

/* Opaque placeholder */
.contact_input:focus::placeholder {
  opacity: 0;
}

/* Move label up & sticky label */
.contact_input {
  &:focus + .contact_label,
  &:not(:placeholder-shown):not(:focus) + .contact_label {
    opacity: 1;
    top: -16px;
  }
}


/* --- FOOTER --- */


/* --- SCROLL BAR --- */


/* --- SCROLL UP --- */


/* Show Scroll Up */


/* --- BREAKPOINTS --- */
/* For small devices */


/* For medium devices */


/* For large devices */